[submodule "soa-expense"]
	path = soa-expense
	url = git@github.com:adam8kac/soa-expense.git
[submodule "soa-notification"]
	path = soa-notification
	url = https://github.com/anjalecnik/SOA_NotificationService.git
[submodule "soa-category-budget"]
	path = soa-category-budget
	url = git@github.com:Tevc25/soa-category-budget.git
[submodule "soa-subscription"]
	path = soa-subscription
	url = https://github.com/anjalecnik/SOA_SubscriptionService.git
